*{
  font-family:Georgia, 'Times New Roman', Times, serif;
}

body{
  background-color:bisque;
  margin:0;
}

p{
  position:absolute;
  font-size:40px;
  color:rgb(255, 255, 255);
  margin:auto;
  margin-top:560px;
  margin-left:20px;
  padding:15px;
}

a:hover{
  transform:scale(1.02);
  transform: translateY(-1.1rem);
  transition-duration:0.4s;
  box-shadow: 0 17px 20px 0 rgba(0,0,0,0.3);
  background-color: rgb(211, 153, 129);
}

img{
  margin:10px;
}


.main{
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.title{
  color:rgb(150, 99, 84);
  font-size:110px;
  margin-top:20px;
  text-align:center;
}

.food-list{
  display:flex;
  flex-direction:row;
  height:80%;
  margin:auto;
  width:1250px;
  margin-top:40px;
  padding:10px;
  justify-content: center;
}

.img-holder{
  display:flex;
  flex-direction:column;
  text-align: center;

}



#cooking-pot{
  height:200px;
}

.splash-content {
  text-align: center;
  color: #fff;
}

.splash-content h1 {
  font-size: 36px;
}

.splash{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(57, 41, 27, 1);
  display: flex;
  justify-content: center;
  align-items: center; 
  z-index: 9999; 
  pointer-events:none;
  animation: hideSplash 3s forwards;
}

.splash:not(.hideSplash) #cooking-pot {
  animation: breathing 1s infinite;
}

/*Animation*/
@keyframes breathing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes hideSplash {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

