<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="layout.css">
  </head>
  <body>
    <div class="nav">
      <ul>
        <li>
          <!--Add steps as button here & connect with html page-->
          <button>
            <a href="step-layout.html" target="iframe">Step 1</a>
          </button>
        </li>
      </ul>
      

    </div>
    <div class="main">
      <iframe id="iframe" name="iframe" src="./step-layout.html" frameBorder="0">test</iframe>
      
    </div>
      
  </body>
</html>