body{
  background-color:rgba(57, 41, 27, 1);
  display:flex;
  flex-direction:row;
}

iframe{
  width:100%;
  height:800px;
  overflow: hidden;
}

ul{
  list-style-type:none;
}

.main{
  width: 90%;
  height: 90%;
  display:flex;
  flex-direction: row;
  margin-top: 50px;
}

.nav{
  background-color:cadetblue;
  width:10%;
  margin-right:30px;
  margin-top: 50px;
  padding:20px;
}

.container{
  display:flex;
  flex-direction:row;
  background-color:cornflowerblue;
  width:100%;
  padding:10%;
  margin:50px;
}

