body{
  display:flex;
  flex-direction:row;
  padding:20px;
  height:100%;
  width: 100%;
  overflow:hidden;
}
h1{
  font-size:25px;
}
/*main-container*/
.main{
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: row;
  background-color: rgb(150, 121, 107);
}

/*Container (.img-display, description)*/
.container{
  display:flex;
  flex-direction:row;
  width:98%;
  height:100%;
}

/*Container for animation*/
.img-display{
  position: absolute;
  justify-content: center;
  align-items: center;
}
.recipe{
  padding:10px;
  font-size:25px;
}
/*Description text box*/
.description{
  background-color:rgb(255, 255, 255, 0.8);
  position: absolute;
  left:1150px;
  width:350px;
  height:710px;
  border-radius: 10px;
  padding:20px;
  padding-left:30px;
  margin-left:30px;
}
/*Background img*/
#background{
  filter:blur(4px);
  margin:5px;
  overflow: hidden;
}
#uncook{
	width: 300px;
	height: 300px;
	position: absolute;
	display: block;
	margin:auto;
	right:0.5px;
	left:1px;
	bottom: 1px;	
	opacity:0;
}
#uncook-container:target #uncook{
	opacity:1;
	animation: uncook 0.5s linear 20;
}
@keyframes uncook {
 0% { transform: translateX(0) }
 25% { transform: translateX(1px) }
 50% { transform: translateX(-1px) }
 75% { transform: translateX(1px) }
 100% { transform: translateX(0) }
}
#cook{
	width: 300px;
	height: 300px;
	position: absolute;
	display: block;
	margin:auto;
	left:1px;
	top: 1px;	
	right:1px;
	opacity:0;
}
#cook-container:target #cook{
	opacity:1;
	transition: opacity 0.3S ease;
}
#oven{
  width:1000px;
  height:741px;
  background-image: url(../gb-img/oven.png);
  background-position: center;
  background-size: cover; 
  margin-left:20px;
  position: relative;
}
#action-bttn{
  color:rgb(160, 89, 24);
  display: inline-block;
  padding: 8px 8px;
  background-color: #cac0bb;
  border-radius:10px;
  cursor: pointer;
  text-decoration: none;
}
#action-bttn:hover{
  background-color: rgb(141, 128, 112);
}
