*{
  font-family:Georgia, 'Times New Roman', Times, serif;
}
/*General recipe layout*/
body{
  display:flex;
  flex-direction:row;
  padding:20px;
  overflow:hidden;
}
h1{
  font-size:25px;
}
/*main-container*/
.main{
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: row;
  margin-left:30px;
}
/*Container (.img-display, description)*/
.container{
  display:flex;
  flex-direction:row;
  width:98%;
  height:100%;
}

/*Container for animation*/
.img-display{
  position: absolute;
  justify-content: center;
  align-items: center;
  margin-top:20px;
}
/*Description text box*/
.description{
  position:absolute;
  left:1150px;
  width:350px;
  height:710px;
  background-color:rgb(255, 255, 255, 0.8);
  border-radius: 10px;
  padding:20px;
  padding-left:30px;
  margin-left:30px;
}
.recipe{
  padding:10px;
  font-size:25px;
}

.img-holder{
  display: flex;
  flex-direction: column;
  margin:10px;
  text-align: center;
  margin-right:80px;
}
/*Images*/
#background{
  position:absolute;
  filter:blur(4px);
  margin:5px;
  overflow: hidden;
}
#c-board{
  width:1000px;
  height:800px;
  background-image: url(../gb-img/c-board.png);
  background-position: center;
  background-size: cover; 
  margin-left:20px;
  position: relative;
}
#meltbutter{
  position:absolute;
  width:250px;
  height: 250px;
  margin-top:450px;
  margin-left:75px;
  opacity:1;
  transition: opacity 0.3s ease;
}

#garlic{
  position:absolute;
  width:250px;
  height: 250px;
  margin-top:450px;
  margin-left:750px;
  opacity:1;
  transition: opacity 0.3s ease;
}
#parsley{
  position:absolute;
  width:250px;
  height: 250px;
  margin-top:450px;
  margin-left:300px;
  opacity:1;
  transition: opacity 0.3s ease;
}
#salt{
  position:absolute;
  width:250px;
  height: 250px;
  margin-top:450px;
  margin-left:500px;
  opacity:1;
  transition: opacity 0.3s ease;
}
#topping{
  position:absolute;
  width: 250px;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  margin-top: 200px;
  opacity:0;
  transition: opacity 0.3s ease;
  }
/*Animation*/

#action-bttn{
  color:rgb(160, 89, 24);
  display: inline-block;
  padding: 8px 8px;
  background-color: #cac0bb;
  border-radius:10px;
  cursor: pointer;
  text-decoration: none;
}

#action-bttn:hover{
  background-color: rgb(141, 128, 112);
}

#topping-container:target #topping{
  opacity:1;
}
#garlic-container:target #garlic{
  opacity:0;
}
#salt-container:target #salt{
  opacity:0;
}
#meltbutter-container:target #meltbutter{
  opacity:0;
}
#parsley-container:target #parsley{
  opacity:0;
}
