*{
  font-family:Georgia, 'Times New Roman', Times, serif;
}
body{
  display:flex;
  flex-direction:row;
  padding:20px;
  height:100%;
  width: 100%;
  overflow:hidden;
}
h1{
  font-size:25px;
}
/*main-container*/
.main{
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: row;
  margin-left:30px;
}

/*Container (.img-display, description)*/
.container{
  display:flex;
  flex-direction:row;
  width:98%;
  height:100%;
}

/*Container for animation*/
.img-display{
  position: absolute;
  justify-content: center;
  align-items: center;
  margin-top:20px;
}
.recipe{
  padding:10px;
  font-size:25px;
}

/*Description text box*/
.description{
  background-color:rgb(255, 255, 255, 0.8);
  position: absolute;
  left:1050px;
  width:325px;
  height:710px;
  border-radius: 10px;
  padding:20px;
  padding-left:30px;
  margin-left:155px;
}
/*Background img*/
#background{
  filter:blur(4px);
  margin:5px;
  overflow: hidden;
}
#knead{
	width: 250px;
	height: 250px;
	position: absolute;
	display: block;
	margin:auto;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;	
}
/*knead container w target #knead for action-bttn*/
#knead-container:target #knead{
	animation: knead 4s linear 3;
}
/*keyframe animation for repeating knead*/
@keyframes knead{
	0%{transform: scale(1);}
	50%{transform:scale(0.5);}
	100%{transform: scale(1);}
}
#c-board{
  width:900px;
  height:700px;
  background-image: url(../gb-img/c-board.png);
  background-position: center;
  background-size: cover; 
  position: relative;
  overflow:hidden;
  margin-left:20px;
}
#action-bttn{
  color:rgb(160, 89, 24);
  display: inline-block;
  padding: 8px 8px;
  background-color: #cac0bb;
  border-radius:10px;
  cursor: pointer;
  text-decoration: none;
}
#action-bttn:hover{
  background-color: rgb(141, 128, 112);
}
