*{
  font-family:Georgia, 'Times New Roman', Times, serif;
}

body{
  background-color:rgba(57, 41, 27, 1);
}

/*div*/
.main-img-div{
  display:flex;
  align-items: center;
  justify-content: center;
  text-align:center;
  margin:auto;
  width:1400px;
  height:800px;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

#time{
  font-size:30px;
}

#homemade{
  font-size:40px;
}

#see-recipe{
  margin-left:160px;
  border:none;
  background-color: transparent;
  font-size:25px;
  text-decoration:none;
}

#see-recipe:hover{
  transform:scale(1.02);
  transition-duration:0.4s;
  text-decoration:none;
}

a{
  color:white;
  text-decoration:none;
}

a:visited{
  background-color: transparent;
  text-decoration:none;
  color:white;
}

a:active{
  color:white;
  text-decoration:none;
}

/*Images & Shapes*/
#sweettea-main{
  position: absolute;
  display:block;
  margin:auto;
  width:1200px;
  height: 800px;
  object-fit:contain;
}
#square{
  position:absolute;
  background-color:rgba(0, 0, 0, 0.5);
  margin-left:600px;
  height:700px;
  font-size:70px;
  color:white;
  text-align:left;
  padding:20px;

}