*{
  font-family:Georgia, 'Times New Roman', Times, serif;
}

/*General recipe layout*/
body{
  display:flex;
  flex-direction:row;
  padding:20px;
}

h1{
  font-size:25px;
}

/*main-container*/
.main{
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: row;
  margin-left:30px;
}

/*Container (.img-display, description)*/
.container{
  display:flex;
  flex-direction:row;
  width:98%;
  height:100%;
}

/*Container for animation*/
.img-display{
  position: absolute;
  justify-content: center;
  align-items: center;
  margin-top:20px;
}


/*Description text box*/
.description{
  position:absolute;
  left:1150px;
  width:350px;
  height:710px;
  background-color:rgb(255, 255, 255, 0.8);
  border-radius: 10px;
  padding:20px;
  padding-left:30px;
  margin-left:30px;
}

.ingredients{
  display:flex;
  flex-direction:column;
  width:500px;
  padding:20px;
  margin-left:60px;
  margin-top:10px;
}


.recipe{
  padding:10px;
  font-size:25px;
}



.r-1,.r-2,.r-3{
  display:flex;
  flex-direction:row;
  padding:10px;
  margin-bottom: 20px;
}

.img-holder{
  display: flex;
  flex-direction: column;
  margin:10px;
  text-align: center;
  margin-right:80px;
}

.i-img{
  height:130px;
  transition: transform .2s;
}

.i-img:hover{
  transform: scale(1.2);
  border-color: azure;
}

.i-label{
  font-size:20px;
  margin-top:5px;
}

.ingredients-prep{
  display:flex;
  flex-direction: column;
  margin-left:50px;
  margin-top:100px;
}

.img-upper{
  display:flex;
}

.img-lower{
  display:flex;
  flex-direction: row;
}

#s-1-img-layout{
  display:flex;
  flex-direction:row;
}
